h1{
    text-align: center;

    animation-name: judul;
    animation-duration: 0.75s;
}

p{
    margin: 7px;
    text-align: center;

    animation-name: isi;
    animation-duration: 1.5s;
}

@keyframes judul{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes isi {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 100;
    }
}